<div class="login">
    <h2 class="logintext">请登录</h2>
    <form>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user"></span></span>
            <input required type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" required>
        </div>
        <p style="color:red;" >请输入用户名</p>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-eye-close"></i></span>
            <input required type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" required>
        </div>
        <p style="color:red;" >请输入密码</p>
        <button type="button" routerLink="/page/user">登录</button>
    </form>
</div>
