<div class="login">
    <h2 class="logintext">请登录</h2>
    <form>
        <div >
            <label style="width:100%;" for="username">
                用户名：
                <input id="username" style="width:70%;" type="text" required>
            </label>
        </div>
        <div>
            <label style="width:100%;" for="userpassword">
                用户名：
                <input style="width:70%;" id="userpassword" type="text" required>
            </label>
        </div>
        <button  routerLink="/page/user">登录</button>
    </form>
</div>
