
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
// 这些是CSS3特有的选择器，A>B 表示选择A元素的所有子B元素。
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    border-radius: 4px;
  }



}

@media (max-width:768px) {
  .carousel{
    margin-top: 50px;
  }

  .carousel img{
    height: 130px;
  }
}
